#wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
  transition: margin 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -250px;
}

#page-content-wrapper {
  width: 100%;
}

.list-group-item {
  border: none;
}

.list-group-item:hover {
  background-color: #495057;
}
